# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# JVM crash logs
hs_err_pid*
replay_pid*

# Temporary files
*.tmp
*.temp

# Compiled class files
*.class

plugins/AuthLogin/server.key
server.key
*.key

plugins/AuthLogin/players.yml
